* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
a {
  text-decoration: none;
  color: black;
}
html {
  font-size: 26.6667vw;
}
body {
  font-size: .14rem;
  color: #666;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
h3 {
  font-weight: normal;
}
#header {
  height: .44rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding: .1rem;
}
#header .left {
  width: .4rem;
}
#header .center {
  flex: 1;
  color: #666;
  font-size: .2rem;
}
#header .right {
  width: .4rem;
}
#header a {
  color: #d3079e;
  font-size: .14rem;
}
#header a i {
  font-size: .14rem;
}
.mui-scroll-wrapper {
  flex: 1;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.mui-scroll-wrapper .mui-scroll #main {
  height: 100%;
}
.mui-scroll-wrapper .mui-scroll #main .banner img {
  width: 100%;
}
.mui-scroll-wrapper .mui-scroll #main .nav {
  padding: .05rem;
}
.mui-scroll-wrapper .mui-scroll #main .nav .mui-col-xs-4 {
  padding-right: .05rem;
}
.mui-scroll-wrapper .mui-scroll #main .nav .mui-col-xs-4 img {
  width: 100%;
}
.mui-scroll-wrapper .mui-scroll #main .block {
  border-top: 1px solid #ccc;
}
.mui-scroll-wrapper .mui-scroll #main .block img {
  width: 100%;
}
.mui-scroll-wrapper .mui-scroll #main .block .mui-col-xs-3 {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.mui-scroll-wrapper .mui-scroll #main .baby {
  display: flex;
  border-bottom: 1px solid #ccc;
  height: 1.4rem;
}
.mui-scroll-wrapper .mui-scroll #main .baby .left,
.mui-scroll-wrapper .mui-scroll #main .baby .right {
  width: 50%;
}
.mui-scroll-wrapper .mui-scroll #main .baby .left a,
.mui-scroll-wrapper .mui-scroll #main .baby .right a {
  display: block;
}
.mui-scroll-wrapper .mui-scroll #main .baby .left a img,
.mui-scroll-wrapper .mui-scroll #main .baby .right a img {
  width: 100%;
}
.mui-scroll-wrapper .mui-scroll #main .baby .right {
  border-left: 1px solid #ccc;
}
.mui-scroll-wrapper .mui-scroll #main .hot a {
  display: block;
}
.mui-scroll-wrapper .mui-scroll #main .hot a img {
  width: 100%;
}
.mui-scroll-wrapper .mui-scroll #main .weekend .title {
  height: .4rem;
  display: flex;
}
.mui-scroll-wrapper .mui-scroll #main .weekend .title a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: .4rem;
}
.mui-scroll-wrapper .mui-scroll #main .weekend .title a:hover {
  color: #d3079e;
  border-bottom: 2px solid #d3079e;
}
.mui-scroll-wrapper .mui-scroll #main .weekend .content .mui-card-header.mui-card-media::after {
  background-color: transparent;
}
.mui-scroll-wrapper .mui-scroll #main .weekend .content .mui-card-header > img:first-child {
  width: 100%;
  height: 1rem;
}
#footer {
  width: 100vw;
  height: .44rem;
}
#footer .mui-card {
  background-color: #d3079e;
  margin: 0;
}
#footer .mui-card .mui-card-header .left a {
  color: #fff;
}
#footer .mui-card .mui-card-header .left a:first-child {
  margin-right: 0.1rem;
}
#footer .mui-card .mui-card-header .right a {
  color: #fff;
}
